:root {
    --color-primary: #55c57a;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--color-primary);
    width: 1000px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-flex-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__logo {
    height: 60px;
}

.header__nome {
    font-weight: 600;
    font-size: 24px;
    margin-left: 5px;
}

.navbar {
    margin-top: 20px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.navbar a:link,
.navbar a:visited {
    color: black;
    padding: 10px;
    font-size: 24px;
    margin: 10px;
}

.navbar a:hover,
.navbar a:active {
    background-color: rgba(255, 255, 255, 0.7);
}

main {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input:not([type="button"]),
select {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
}

form input[type="button"] {
    padding: 7px;
    margin-right: 30px;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social--img {
    height: 30px;
    margin-right: 3px;
}

.hidden {
    display: none;
}
